@page
@model Tischtennis_Shop.Pages.Falsche_AngabeModel
@{


    <p>

        <label>Falsch Eingegeben </label>
        <br /> 

        <a href="/Kundeschonvorhanden">zurück zur eingabe</a>

    </p>
   

}
