@page
@model Tischtennis_Shop.Pages.Falsche_Eingabe_MitarbeiterbereichModel
@{
    <p>
        <label>Falsche Eingabe</label>
        <br />
        <a href="/Mitarbeiterbereich">Zurück zur Eingabe</a>

    </p>
  


}
