@page
@model Tischtennis_Shop.Pages.Falsche_AngabeModel
@{


    <p>

        <label>Falsch Eingegeben</label>
        <br /> 

        <a href="/Kundeschonvorhanden">Zurück zur Eingabe</a>

    </p>
   

}
