@page
@model Tischtennis_Shop.Pages.FehlerModel
@{
        ViewData["Title"] = "Falsche Eingabe";
}
<p>
    <label>Sie haben eine falsch Nummer eingegeben oder eine die nicht exsistiert</label>
</p>
<p>
    <a href="/Belaege">Zurück</a>
</p>


