@page
@model Tischtennis_Shop.Pages.FelerKaufenModel

    @{
        ViewData["Title"] = "Falsche Eingabe";
    }

    <p>

        <label>Sie haben entweder keine Farbe Ausgewählt oder keine Menge eingegeben oder eine zu große Menge </label>
    </p>


    <p>
        <a href="/Index">Zurück</a>


    </p>


