@page
@model Tischtennis_Shop.Pages.KundeschonvorhandenModel
@{
    ViewData["Title"] = "Bereisds vorhandender Kunden bereich";
}

<h1>Kunden Konto Bestätigung</h1>

<div class="row">
    <div class="col-md-4">

        <form method="post">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Vornamen</label>
                <input asp-for="Vorname" class="form-control" />
                <span asp-validation-for="Vorname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nachnamen</label>
                <input asp-for="Nachname" class="form-control" />
                <span asp-validation-for="Nachname" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label>Kundennummer</label>

                <input asp-for="ideingabe" class="form-control" />
                <span asp-validation-for="ideingabe" class="text-danger"></span>
            </div>
            <input type="submit" value="Anmelden" />
        </form>
    </div>
</div>

