@page
@model Tischtennis_Shop.Pages.Warenkorbleer_BeendenEinkaufModel
@{
    ViewData["Title"] = "Warenkorb ist Leer biite was einkaufen";
}

<p>

    <label>Sie haben nichts Eingekauft Bitte Kaufen Sie Edwas drücken sie auf Zurück und sie kommen auf die Startseite zurück</label>
</p>


<p>
    <a href="/Index">Zurück</a>


</p>


